@media screen and (min-width: 0px) and (max-width: 767px) {
  :root {
    /* Navbar */
    --navbar-menu-display: grid;
    --navbar-a-pdd: 10px;
    --navbar-grd-flow: row;
    --navbar-grd-rows: auto;
    --navbar-grd-columns: 1fr;
    --navbar-top: initial;
    --navbar-bottom: 20px;
    --navbar-left: initial;
    --navbar-right: 20px;
    --navbar-width: auto;
    --navbar-align-self: end;
    --navbar-justify-self: end;

    /* PortadaComp */
    --portadacomp-content-grd-areas: "ovaTlh" "Tavolh";
    --portadacomp-content-grd-columns: 1fr;
    --portadacomp-content-grd-rows: auto auto;

    /* SobreMiComp */
    --sobremicomp-content-grd-areas: "Profile" "Text";
    --sobremicomp-content-grd-columns: 1fr;
    --sobremicomp-content-grd-rows: auto 1fr;

    /* ServiciosComp */
    --servicioscomp-pdd: 40px 10px;
    --servicioscomp-list-gap: 30px;

    /* ProyectosComp */
    --proyectoscomp-pdd: 50px 10px;
    --proyectoscomp-list-gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
