@media screen and (min-width: 0px) and (max-width: 767px) {
  :root {
    /* Navbar */
  --navbar-desktop: none;
  --navbar-movil: grid;

    /* PortadaComp */
    --portadacomp-content-grd-areas: "ovaTlh" "Tavolh";
    --portadacomp-content-grd-columns: 1fr;
    --portadacomp-content-grd-rows: auto auto;

    /* SobreMiComp */
    --sobremicomp-content-grd-areas: "Profile" "Text";
    --sobremicomp-content-grd-columns: 1fr;
    --sobremicomp-content-grd-rows: auto 1fr;

    /* ServiciosComp */
    --servicioscomp-pdd: 40px 10px;
    --servicioscomp-list-gap: 30px;

    /* ProyectosComp */
    --proyectoscomp-pdd: 50px 10px;
    --proyectoscomp-list-gap: 20px;

    /* ProyectosView */
    --proyectosview-pdd: 10px;

    /* MyAnimeSearcherView */
    --mal-icon-left: calc(100% / 2 - 50px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
