:root {
  /* Body */
  --body-bg: #000000;
  --body-clr: #ffffff;
  --body-fontfamily: "Poppins";

  /* Navbar */
  --navbar-index: 2;
  --navbar-desktop: grid;
  --navbar-movil: none;

  /* Views */
  --view-index: 1;

  /* HomeView */
  --homeview-bg: #f5f5f5;
  --homeview-clr: #1e1e1e;
  --homeview-minheight: 100vh;

  /* PortadaComp */
  --portadacomp-content-grd-areas: "Tavolh ovaTlh";
  --portadacomp-content-grd-columns: auto auto;
  --portadacomp-content-grd-rows: 1fr;

  /* SobreMiComp */
  --sobremicomp-content-grd-areas: "Profile Text";
  --sobremicomp-content-grd-columns: auto auto;
  --sobremicomp-content-grd-rows: 1fr;

  /* ServiciosComp */
  --servicioscomp-pdd: 40px;
  --servicioscomp-list-gap: 50px;

  /* ProyectosComp */
  --proyectoscomp-pdd: 50px;
  --proyectoscomp-list-gap: 40px;

  /* TecnologiasComp */
  --tecnologiascomp-pdd: 50px;
  --tecnologiascomp-list-gap: 30px;
}
